<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyc.rtodemo.mapper.DeviceMapper">

    <select id="selectByDeviceId" resultType="Long">
        select jdpin from device where did = #{did}
    </select>


</mapper>
